body {
	font-family: Roboto-Black;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0;
	padding: 0;
	background-color: #009fff;
	height: auto;
}

#header {
	width: 100%;
	-moz-box-shadow: 0px 3px 5px -2px #000;
	-webkit-box-shadow: 0px 3px 5px -2px #000;
	box-shadow: 0px 3px 5px -2px #000;
	background-color: #007fcc;
	text-align: center;
	color: #FFF;
	margin: 0;
	paddin: 0;
	z-index: 10;
	display: none;
	border: none;
	position: relative;
	height: 5%;
	
}
#header #student {
	font-family: Roboto-BoldCondensedItalic;
	font-size: 180%;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 10;
}

#header #student #voice {
	font-family: Roboto-Thin;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 10;
}


#header #header-settings-cog {
	height: 8%;
	float: right;
	position: relative;
	z-index: 11;
	margin-right: 5%;
}

#first-time-welcome {
	height: auto;
	width: 80%;
	background-color: #FFF;
	margin-left: 10%;
	margin-right: 10%;
	font-family: Roboto;
	font-size: 100%;
	color: #000;
	-moz-box-shadow: 0px 2px 5px 0.5px #000;
	-webkit-box-shadow: 0px 2px 5px 0.5px #000;
	box-shadow: 0px 2px 5px 0.5px #000;
	z-index: 9;
	text-align: middle;
	display: none;
	position: absolute;
}

#first-time-welcome #welcome-title {
	font-family: Roboto-Black;
	color: #000;
	text-align: left;
	padding-left: 2em;
}

#first-time-welcome #welcome-page-content {
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	font-family: Roboto-Regular;

}
#first-time-welcome #close-button-first-time {
	background-color: #008ade;
	height: auto;
	width: auto;
	padding: 0.5em;
	margin-left: 2em;
	margin-bottom: 2em;
	font-family: Roboto-BoldCondensedItalic;
	color: #FFF;
	cursor: pointer;
}
#mainpage {
	padding: 0px;
	height: auto;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	display: none;
	position: absolute;
	z-index: 8;
}
#mainpage #main-form form {
	text-align: left;
	margin-top: 5%;
}
