@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: 
  local('Material Icons'), 
  local('MaterialIcons-Regular'),
  url(GC.woff2) format('woff2'),
  url(IE.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
#header-logo{
	max-width: 100%;
	max-height: 100%;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}