<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.studentvoice.app"
        version     = "0.0.9" >
<gap:config-file platform="android" parent="/manifest/application" >
	<application android:debuggable="false" android:hardwareAccelerated="true" />
    <activity  />
</gap:config-file>
<gap:splash src="images/splashscenelandhdpi.png" gap:platform="android" gap:density="land-hdpi" />
<gap:splash src="images/splashscenelandldpi.png" gap:platform="android" gap:density="land-ldpi" />
<gap:splash src="images/splashscenelandmdpi.png" gap:platform="android" gap:density="land-mdpi" />
<gap:splash src="images/splashscenelandxhdpi.png" gap:platform="android" gap:density="land-xhdpi" />
<gap:splash src="images/splashsceneporthdpi.png" gap:platform="android" gap:density="port-hdpi" />
<gap:splash src="images/splashsceneportldpi.png" gap:platform="android" gap:density="port-ldpi" />
<gap:splash src="images/splashsceneportmdpi.png" gap:platform="android" gap:density="port-mdpi" />
<gap:splash src="images/splashsceneportxhdpi.png" gap:platform="android" gap:density="port-xhdpi" />
<icon src="images/icon.png" />
<preference name="android-minSdkVersion" value="10" />
<preference name="android-targetSdkVersion" value="22" />
<name>Student Voice </name>
<description>Blah Blah Blah... </description>
<author href="https://github.com/ajahiri/Student-Voice/wiki" email="benpaddlejones@outlook.com">Ben Jones  </author>
</widget>